
@font-face {
    font-family: "D-Din";
    src:url("font/D-DIN.otf");
    
    font-family: "D-Din Bold";
    src: url("font/D-DIN-Bold.otf");
    
   
}



.content {
	width:100%;
	height:100%;
	position: absolute;
	left:10px;
	transition: 0.5s;
	top:0;
}

.menuitem:hover {
	cursor:cell;
}

.menuspace {
	width:90px;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	cursor: default;
}

.menu {
	background: #e6eced; 
	cursor: default;
	position: fixed;
	border: black solid 2px;
	width:50px;
	height:102%;
	top:-3px;
	left:-2px;
	transition: 0.5s
}

.menuin {
	left:-35px;
	transition: 0.5s;
}

.menuout {
	left:40px;
	transition: 0.5s;
}

.menutext {
	position: absolute;
	margin:0;
	top:15px;
	left:15px;
	text-align: center;
}

@media screen and (max-width: 1100px) {
	
	p {
		margin-top:0 !important;
		top:10vh;
	}

	.img1 {
		position: absolute !important;
		margin:0 !important;
		left:10vw;
		top:20vh;
		height:50vh !important;
		width:50vh !important;
	}
	
	.expand1 {
		width:108vw !important;
		height:108vh !important;
	}

	
	.img2 {
		width:60vw !important;
		height:80vh !important;
		top:25vh !important;
	}
	
	.img3 {
		float:left;
		margin:0 !important;
		top:10vh;
		left:10vw;
		height:50vh !important;
		width:50vh !important;
	}
	
	.sad3 {
		width:30vh !important;
		height: 50vh !important;
	}

	
	.leftalign {
		left:10vw !important;
		top: 67vh;
	}
	
	.textsomeone2 {
		left:10vw !important;
		top: 70vh;
		transition: 0s !important;
	}
	
	.higher {
		top:50vh !important;
	}
	
	.img5{
		top:70vh !important;
		width: 20vw !important;
	}
	
	.expand {
		width: 100% !important;
		height: 100% !important;
	}
	
	.happened {
		width:100px;
		line-height: 14pt;
	}
	
	.endimg {
		top:30vh !important;
		left: 10vw !important;
	}

}


.happy1 {
    cursor: url("img/cursor-15.png") 12 12, default;
}


body {
    background: #e6eced;
	overflow: hidden;
	transition: 0.5s;
	margin:0;
}

.dark {
    background: black;
}

p {
    float:left;
    position: relative;
    font-family: D-Din Bold;
    margin-top: 50vh;
    margin-left: 10vw;
    font-size: 14pt;
	line-height: 18pt;
	transition: 0.5s;
}

.img1 {
    position: relative;
    float:left;
    border: black solid 2px;
    width: 500px;
    height: 500px;
    margin-top:20vh;
    margin-left: 20vw;
    background-image: url(img/1_nodrown.png);
    background-size:contain;
    background-position: center;
    transition: 1s;
}

.img1:hover {
    cursor: url("img/cursor-16.png") 12 12, default;
    background-image: url(img/1_drown.png);
    transition: 0.5s;
}

.img11 {
	background-image: url(img/1_drown.png);
	 transition: 0.5s;
}


.expand1 {
	top:-3vh;
	left:-3vw;
	width:108vw;
	height:108vh;
	margin:0;
	background-image: none;
	transition: 1s !important;
}

happy:hover {
    cursor: url("img/cursor-16.png") 12 12, default;
    background:black;

}

.img2 {
    position: absolute;
    width:40vw;
    height: 100vh;
    top:0;
    right:0;
    background-image: url(img/2_face.png);
    background-size:cover;
	transition: 1s;
}

.slide2 {
	right:-30vw;
	transition:1s;
}

.openeyes {
	 background-image: url(img/2_face2.png);
	transition: 0.5s;
}

.img2:hover {
    cursor: url("img/cursor-16.png") 12 12, default;
}

.img3 {
    position: relative;
    float:left;
    margin-top: 20vh;
    margin-left: 20vh;
    width: 500px;
    height: 500px;
	background-color:black;
    background-image: url(img/3_happy.png);
    background-position: center;
    background-size:cover;
    transition: 1s;
}

.lower3 {
	margin-top: 50vh;
}

.sad3 {
    width:312px;
    margin-left: 30vh;
    margin-right: 12vh;
    background-image: url(img/3_sad.png);
    transition: 0.75s;
}

canvas {
    position:fixed;
    left:0;
    width:100%;
    height: 99%;
}

someone:hover {
    cursor: url("img/cursor-16.png") 12 12, default;
    background:black;
}

.lighttext {
    transition: 0.2s;
    color: #e6eced;
}

.leftalign {
	position: absolute;
	left:50vw;
	margin-left: 0;
	transition: 0s;
}

.textsomeone2 {
	position: absolute;
	left:50vw;
    margin-top:23vh;
    margin-left: 0;
    color: #e6eced;
    transition: 0.2s;
}

@media screen and (min-width: 1101px) and (max-width: 1800px) {

	.leftalign {
		left: 67vw !important;
	}
	
	.textsomeone2 {
		left: 67vw !important;
	}
	
}

.blacktext {
    color: black;
}

.expand {
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: 0;
	margin-left: 0;
	top:0;
	left:0;
	background-image: none;
}


.byetext {
	display: none;
}

.slide {
	left:-80vw;
	margin:-20vw;
}

svg {
  position: absolute;
  top:63vh;
  left:0;
  width: 100%;
  height: 20%;
  opacity: 1;
  transition: 1s;
}

.higher {
	top:10vh;
}

.page4text {
	margin-top: 30vh;
}

.hidden {
	opacity: 0;
	transition: 0.5s;
}

.cut {
	opacity: 0;
	transition: 0s;
}

.noaction {
	pointer-events: none;
}

.darkline {
	stroke: black;
}

.lightline {
	 stroke: #e6eced;
}

path {
  stroke-width: 2px;
  stroke-linecap: round;
  fill: none;
}

anxiety:hover {
	cursor: url("img/cursor-16.png") 12 12, default;
    text-decoration: line-through;
}

svg:hover {
	cursor: url("img/cursor-16.png") 12 12, default;
}

.none {
	display: none;
}

smile:hover {
	cursor: url("img/cursor-16.png") 12 12, default;
    background: black;
}

.img5 {
	position: absolute;
	top:30vh;
	right:20vw;
	width:200px;
	height: 100px;
	background-repeat: no-repeat;
	background-size:contain;
	background-image: url(img/5_smile.png);
}

.img5:hover {
	background-image: url(img/5_simle2.png);
	cursor: url("/img/cursor-16.png") 12 12, default;
}

.smile2 {
	background-image: url(img/5_simle2.png);
}

.img6 {
	position: fixed;
	width:104vw;
	bottom:-2px;
	left:-3vw;
	height:50vw;
	background-repeat: no-repeat;
	background-size:contain;
	background-image: url(img/4_img.png);
	transition: 1s;
}

.lower6 {
	bottom:-20vw;
	transition: 1s;
}

.imghover6 {
	position: fixed;
	bottom: 29vw;
	width:15vw;
	left: 59vw;
	height:20vw;	
}

.imghover6:hover {
	cursor: url("img/cursor-16.png") 12 12, default;
	transition: 0.2s;
}

.transitionnone {
	transition: 0.2s;
}

.imgchange6 {
	background-image: url(img/4_img2.png);
}

.sadtype {
	font:D-Din;
	font-size: 12pt !important;
	font-weight: normal !important;
	font-style: italic !important;
	text-align: center !important;
	position: absolute !important;
	margin:0 !important;
	left:50% !important;
	top:50% !important;
	transform: translate(-40%, -50%) !important;
	transition: 1s;
	font-variant-caps: normal !important;
}

.hometype {
	font:D-Din;
	font-size: 12pt;
	font-weight: normal;
	text-align: center;
	position: absolute;
	margin:0;
	left:50%;
	top:90%;
	transform: translate(-40%, -50%);
	transition: 1s;
	font-variant-caps: normal;
	cursor: default;
}


.menuhome {
	position: absolute;
	margin:0;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

.sadtype2 {
	font:D-Din;
	font-size: 7pt;
	font-weight: normal;
	font-style: italic;
	margin:0;
	left:25px;
	bottom:15px;
	transition: 1s;
	font-variant-caps: normal;
	position: absolute;
	opacity: 1;
	transition:0.2s;
}

stt2:hover{
	font-size: 20pt;
	font-variant-caps: all-petite-caps;
	cursor:default;
}

text2 {
	transition: 2s;
}

.down {
	transform: translate(-40%, -15%);
	transition: 2s;
}

.sadface {
	background-image: url(img/s_face.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:80px;
	height:80px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

.whiteface {
	background-image: url(img/s_face_w-40.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:80px;
	height:80px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

.squig {
	background-image: url(img/s_face-squig.gif);
	background-size: contain;
	position: absolute;
	background-repeat: no-repeat;
	width:38px;
	height:10px;
	right:21px;
	top:56px;
	
}

sanxiety:hover {
	font-variant-caps: all-small-caps;
	cursor: pointer;
}

smalll:hover {
	font-variant-caps: all-small-caps;
	cursor: pointer;
}

.nomouth {
	background-image: url(img/s_face-nomouth.png);
}

.scirc1 {
	background-image: url(img/s_small-35.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:105px;
	height:105px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	animation-name: spin;
	animation-duration: 17s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
}

.scirc2 {
	background-image: url(img/s_small-36.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:125px;
	height:125px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	animation-name: spin;
	animation-duration: 19s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
}

.scirc3 {
	background-image: url(img/s_small-37.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:145px;
	height:145px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	animation-name: spin;
	animation-duration: 17s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
}

.scirc4 {
	background-image: url(img/s_small-38.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:165px;
	height:165px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	animation-name: spin;
	animation-duration: 19s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
}

@keyframes spin {
		50% { transform: translate(-50%, -50%) rotate(180deg); }
		100% { transform: translate(-50%, -50%) rotate(360deg); }
	}

#sface:hover {
	cursor: move;
}

#sface {
	width:200px;
	height: 200px;
	position: absolute;
	right:-40px;
	top:-55px;
}

.spinnytext {
	background-image: url(img/s_texttext-39.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:305px;
	height:305px;
	left:50%;
	top:50%;
	transform: translate(-44%, -50%);
	animation-name: spinny;
	animation-duration: 31s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
	
}

.spinnytext2 {
	background-image: url(img/s_texttext-39.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:405px;
	height:405px;
	left:50%;
	top:50%;
	transform: translate(-45%, -50%);
	animation-name: spinny2;
	animation-duration: 30s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
	
}

@keyframes spinny {
		50% { transform: translate(-44%, -50%) rotate(180deg); }
		100% { transform: translate(-44%, -50%) rotate(360deg); }
	}

@keyframes spinny2 {
		50% { transform: translate(-45%, -50%) rotate(180deg); }
		100% { transform: translate(-45%, -50%) rotate(360deg); }
	}


.spinnytext3 {
	background-image: url(img/s_texttext-39.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:505px;
	height:505px;
	left:50%;
	top:50%;
	transform: translate(-46%, -50%);
	animation-name: spinny3;
	animation-duration: 31s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
	
}

@keyframes spinny3 {
		50% { transform: translate(-46%, -50%) rotate(180deg); }
		100% { transform: translate(-46%, -50%) rotate(360deg); }
	}

.spinnytext4 {
	background-image: url(img/s_texttext-39.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:605px;
	height:605px;
	left:50%;
	top:50%;
	transform: translate(-47%, -50%);
	animation-name: spinny4;
	animation-duration: 30s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
	
}

@keyframes spinny4 {
		50% { transform: translate(-47%, -50%) rotate(180deg); }
		100% { transform: translate(-47%, -50%) rotate(360deg); }
}

.spinnytext5 {
	background-image: url(img/s_texttext-39.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:725px;
	height:725px;
	left:50%;
	top:50%;
	transform: translate(-48%, -50%);
	animation-name: spinny5;
	animation-duration: 31s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
	
}

@keyframes spinny5 {
		50% { transform: translate(-48%, -50%) rotate(180deg); }
		100% { transform: translate(-48%, -50%) rotate(360deg); }
}

.spinnytext6 {
	background-image: url(img/s_texttext-39.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width:850px;
	height:850px;
	left:50%;
	top:50%;
	transform: translate(-48.5%, -50%);
	animation-name: spinny6;
	animation-duration: 30s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
	
}

@keyframes spinny6 {
		50% { transform: translate(-48.5%, -50%) rotate(180deg); }
		100% { transform: translate(-48.5%, -50%) rotate(360deg); }
}

thinkin:hover {
	font-variant-caps: all-small-caps;
	cursor: pointer;
}

control:hover {
	font-variant-caps: all-small-caps;
	cursor: pointer;
}

.noaction {
	pointer-events: none;
}

.spinnn {
	animation-name: spin;
	animation-duration: 3s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
}

.mouth {
	background: black;
	position: absolute;
	width:37px;
	height:13px;
	top:112px;
	left: 82px;
}

#eat {
	height:100vh;
	width:30px;
	position: absolute;
	right:43px;
	top:74px;
}

li {
	list-style: none;
	font-family: D-Din;
	letter-spacing: 1pt; 
	animation: upp;
	animation-duration: 0.5s;
	animation-timing-function: linear; 
	animation-iteration-count: infinite;
}

@keyframes upp {
		0 {transform: translateY(0px)}
		100% { transform: translateY(-17px)}
}

.bigger {
	width:100%;
	height: 100%;
	transition: 3s;
}

.yellow {
	background-image: url(img/s_face_face-32.png);
	transition: 0s;
}

.justface {
    border-radius: 78px;
    background: yellow;
	border: 1px solid black;
	position: absolute;
	width:78px;
	height:78px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

.bigger {
	transition:1s;
	background: black;
	border: 0px solid black;
	animation: big;
	animation-duration: 3s;
	animation-timing-function: linear; 	
	animation-fill-mode: forwards;	
}

@keyframes big {
		0 {transform: scale(1,1)}
		100% { transform: scale(100,100)}
}

controll:hover {
	font-variant-caps: all-small-caps;
	cursor: pointer;
}

depressed:hover {
	font-variant-caps: all-small-caps;
	cursor: pointer;
}

.clickface {
	cursor: pointer;
}

.mehtext {
	font-size: 12pt;
	position: absolute;
	margin:0;
	left:10vw;
	top:100px;
}



.box {
	border: black solid 2px;
	position: absolute;
	width:70vw;
	height:500px;
	top:200px;
	left:10vw;
}

.box1 {
	border: black solid 2px;
	position: absolute;
	width:10vw;
	height:58px;
	top:270px;
	left:23vw;
	transition: 1s;
}

.box2 {
	border: black solid 2px;
	position: absolute;
	width:8vw;
	height:130px;
	top:330px;
	left:21vw;
	transition: 1s;
}

.box3 {
	border: black solid 2px;
	position: absolute;
	width:14vw;
	height:200px;
	top:462px;
	left:21vw;
	transition: 1s;
}

.identity {
	font-style: italic;
	font-size: 10pt;
	position: absolute;
	margin:0;
	top: 220px;
	left: 23vw;
	transition: 1s;
}


.do {
	left: 45vw;
	top:285px;
}

.done {
	left: 45vw;
	top:385px;
}

.happened {
	left: 45vw;
	top:550px;
}

.lefthid {
	opacity: 0;
	left:38vw;
	transition: 1s;
}

.boxhid {
	left:20vw;
	opacity: 0;
	width:5vw;
}

.dash1 {
	border: black solid 1px;
	position: absolute;
	width:8vw;
	height:0;
	top:297px;
	left:35vw;
	transition: 1s;
}

.dash2 {
	border: black solid 1px;
	position: absolute;
	width:12vw;
	height:0;
	top:397px;
	left:31vw;
	transition: 1s;
}

.dashi2 {
	width:12vw;
	height:0;
	top:397px;
	left:31vw;
}

.dash3 {
	border: black solid 1px;
	position: absolute;
	width:6vw;
	height:0;
	top:562px;
	left:37vw;
	transition: 1s;
}

.dash4 {
	border: black solid 1px;
	position: absolute;
	width:2vw;
	height:0;
	top:500px;
	left:34vw;
	transition: 1s;
}


.box1a:hover{
	width:5vw;
	left:25vw;
}

.box2a:hover {
	width:5vw;
	left:22vw;
}

.box3a:hover {
	left:23vw;
	width:10vw;
	cursor: pointer;
}

.boxm1 {
	width:16vw;
	left:20vw;
	height:140px;
}

.boxm2 {
	width:8vw;
	left:25vw;
	top:412px;
	height:180px;
}

.boxm3 {
	top:594.5px;
	height:70px;
	left:29vw;
	width:6vw;
}

.tanxious {
	left: 45vw;
	top:285px;
}

.tdepressed {
	left: 45vw;
	top:480px;
}

.ttrauma {
	left: 45vw;
	top:620px;
}

.dasha {
	width:6vw;
	height:0;
	top:297px;
	left:38vw;
}

.dashd {
	width:9vw;
	height:0;
	top:491px;
	left:35vw;
}

.dasht {
	width:7vw;
	height:0;
	top:631px;
	left:37vw;
}

.boxm1:hover{
	cursor: pointer;
	left:21vw;
	width:12vw;
}

.boxm2:hover{
	left:26vw;
	width:6vw;
}

.boxm3:hover{
	left:30vw;
	width:4vw;
}

.boxi1 {
	width:8vw;
	left:20vw;
	height:70px;
}

.boxi3 {
	width:6vw;
	left:22vw;
	top:444.5px;
	height:100px;
}

.box4 {
	border: black solid 2px;
	position: absolute;
	width:3vw;
	height:0px;
	top:412px;
	left:27vw;
	transition: 1s;
}

.boxi2{
	width:3vw;
	height:100px;
	top:342px;
	left:26vw;
}

.boxi4 {
	top:546px;
	height:90px;
	left:20vw;
	width:11vw;
}

.member {
	left: 45vw;
	top:285px;
}

.leader {
	left: 45vw;
	top:385px;
}

.runner {
	left: 45vw;
	top:490px;
}

.student {
	left: 45vw;
	top:590px;
}

.dashi1 {
	width:13vw;
	left:30vw;
}

.dashi3 {
	width:13vw;
	left:30vw;
}

.dashi4 {
	width:10vw;
	height:0;
	top:603px;
	left:33vw;
}

.box4h:hover {
	width:3vw;
	height:70px;
	top:357px;
	left:26vw;
	cursor: pointer;
}

.boxdown3 {
	opacity: 0;
	top: 650px;
	height:0px;
	transition: 0.5s;
}

.boxdown2{
	opacity: 0;
	top: 630px;
	height:0px;
	transition: 0.5s;
}

.boxdown1{
	opacity: 0;
	top: 300px;
	height:0px;
	transition: 0.5s;
}

.boxdown4{
	top:550px;
	transition: 1.5s;
}


.dashhid {
	width:8vw;
	opacity: 0;
	left:28vw;
}

.dashgurl {
	width:12vw;
	left:31vw;
}

.dashhid2 {
	width:2vw;
	opacity: 0;
	left:42vw;
	transition: 0.5s;
}

.smallgurl {
	top:518px;
	left:45vw;
	line-height: 18px;
}

.identitydown {
	top: 400px;
	left: 25vw;
	transition: 2.5s;
}

.boxdown4:hover {
	width:2.5vw;
	height:80px;
	top:560px;
	left:26.2vw;
	cursor: pointer;
	transition: 0.5s;
}

.boxid {
	width:10vw;
	height:300px;
	top:300px;
	left:19vw;
	transition: 1s;
}

.rounding:hover {
	border-radius: 1vw;
	cursor: pointer;
}

.circlebox {
	border: black solid 2px;
	position: absolute;
	border-radius: 5vw;
	height:10vw;
	top: 400px;
	left:17vw;
}

.circlebox:hover{
	left:19vw;
}

.filmtext {
	font-size: 18pt;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	position: absolute;
	margin:0;
	left:50%;
	top:50%;
	transform: translate(-40%, -50%);
	transition: 0s;
	font-variant-caps: normal;
}

.filmtext:hover {
	cursor: pointer;
	text-decoration:line-through;
	cursor: url("img/cursorcomic-64.png") 12 12, default;
}

.clickw {
	cursor: url("img/cursorcomic-64.png") 12 12, default;
}

.comicc {
	cursor: url("img/cursorcomic-65.png") 12 12, default;
}

.windowf {
	background-image: url(img/comic-62.png);
	background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    transition: 0s;
	position: absolute;
    width: 90px;
    height: 135px;
	left:60vw;
	top:16vh;

}



.night {
	background-image: url(img/nightt-61.png);
}

.night1 {
	background-image: url(img/night-62.png);
}

.night2 {
	background-image: url(img/night-64.png);
}


.night3 {
	background-image: url(img/night-51.png);
}

.sun1 {
	background-image: url(img/comic-58.png);
}

.sun2 {
	background-image: url(img/comic-57.png);
}

.sun3 {
	background-image: url(img/comic-56.png);
}

.dude1 {
	background-image: url(img/zine-55.png);
}

.dude2 {
	background-image: url(img/comic-53.png);
}

.dude3 {
	background-image: url(img/comic-59.png);
}

.dude4 {
	background-image: url(img/comic-52.png);
}




.depdude {
	position: absolute;
    width: 300px;
    height: 105px;
	background-image: url(img/comic-49.png);
	background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
	left:30vw;
	top:60vh;
	transition: 0.5s;
}

.depdudenight {
	background-image: url(img/comic-50.png);
}


.endimg {
	border: black solid 2px;
	position: absolute;
	left: 60vw;
	top:20vh;
	width:30vh;
	height:58.2vh;
	background-image: url(img/end-63.png);
    background-size:cover;
	background-position: 62% 50%;
	transition: 1s;
}
.endimg2{
	background-image: url(img/end-60.png);
}

.endhover:hover {
	background: black;
	cursor: pointer;
}

.endimg3 {
	width:85vh;
	left:45vw;
	background-image: url(img/end-61.png);
}

.endimg4 {
	width:85vh;
	left:45vw;
	background-image: url(img/end-62.png);
}


